# APP
NODE_ENV="dev"
PORT="3000"
CLIENT_PORT="3000"

# REDIS
REDIS_URL="redis://localhost:6379"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_TTL="10800" # 3 hours

# DB
MONGO_URL="mongodb://localhost:27017/tickado-new"
MONGO_DEBUG="true"

# JWT
JWT_SECRET="123"
JWT_AUDIENCE="localhost:3000"
JWT_ISSUER="localhost:3000"
JWT_EXPIRES_IN="3600"

# SMS
SMS_API_URL="https://your-sms-api-endpoint.com/send"
SMS_API_KEY="your_api_key_here"
SMS_SENDER="+983000505"
SMS_TEMPLATE=nmohzdrtfs2m783

# PUSHER
PUSHER_APP_ID="2069073"
PUSHER_KEY="4c0eae5d80982c674700"
PUSHER_SECRET="67333f65b24c5b018ef6"
PUSHER_CLUSTER="ap2"

# TELEGRAM (Optional - for error notifications)
TELEGRAM_BOT_TOKEN="your_bot_token_here"
TELEGRAM_CHAT_ID="your_chat_id_here"

# NESHAN
NESHAN_API_KEY=service.b00296317aba4262a73d8ed814b8411e